/* Dark Theme SCSS */
$background: #11111b;
$text: white;
$error: #f38ba8;
$inverse-on-surface: #313244;
$on-primary: #1D9DD7;
$on-surface: #585b70;
$on-surface-variant: #45475a;
$on-tertiary-container: #ceebc1;
$primary: #74c7ec;
$primary-dim: #89dceb;
$secondary: #cba6f7;
$secondary-container: #54452a;
$secondary-fixed: #f7dfbb;
$secondary-fixed-dim: #dac4a0;
$shadow: #000000;
$surface: #313244;
$surface-dim: #45475a;
$surface-variant: #181825;
$tertiary-fixed: #ceebc1;
$tertiary-fixed-dim: #94e2d5;

$light-surface-container-highest: #ece1d4;