// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use 'colors';
@use "sass:color";
@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window {
	background-color: transparent;
}

window.Bar {
	color: colors.$text;
	font-weight: bold;
	background: colors.$background;

	>centerbox {
		padding: 0.4rem 1rem;
	}
}

.Button {
	background-color: colors.$background;
	border-radius: 1rem;
	padding: 0 0.5rem;
	margin: 0.5rem 0.5rem;
	transition: 0.3s;
	font-size: 1.5rem;

	&:hover {
		background-color: color.mix(colors.$surface-variant, colors.$secondary, 70%);
	}
}

.Clock {
	background-color: colors.$background;
	color: colors.$text;
	border-radius: 1rem;
	padding: 0 0.9rem;
	margin: 0.5rem 0.25rem;
	transition: background-color 0.3s;  // Specify which property should transition
	font-size: 1.5rem;

	&:hover {
		// Nesting hover inside .clock for better specificity
		background-color: color.mix(colors.$surface-variant, colors.$secondary, 70%);
	}

	&:active {
		background-color: color.mix(colors.$surface-variant, colors.$secondary, 60%);
	}
}

.Avatar {
	margin: 0.4rem 1rem;
	font-size: 2.2rem;
	font-weight: bolder;
	color: colors.$surface;
	border-radius: 100%;
	padding: 0;
	transition: 0.3s;
	
	
	>box {
		background-image: url("file:///home/faustrox/Pictures/faustrox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 3rem;
    min-width: 3.2rem;
    border-radius: 100%;
	}
}

.Workspaces {
	border-radius: 1rem;
	padding: 1.3rem 0.8rem;
	// margin: 0 1rem;
	background-color: colors.$background;
}

.workspace {
	border-radius: 1rem;
	background-color: colors.$surface-variant;
	min-height: 1.1rem;
	margin: 0 0.25rem;
	padding: 0 0.3rem;
	transition: 0.3s;
	
	&.current {
		background-color: colors.$primary;
		padding: 0 1.8rem;
	}

	&.busy {
		background-color: color.mix(colors.$on-surface, colors.$background, 45%);
	}

	&:hover {
		background-color: color.mix(colors.$on-primary, colors.$on-surface, 70%);
    &.current {
			background-color: color.mix(colors.$primary, colors.$on-surface, 70%);
    }
	}
}

.Edge {
	background-color: colors.$background;
  border-radius: 0%;
  box-shadow: 2px 0px 1px 0px colors.$light-surface-container-highest;

	&.topside {
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
	}

	&.leftside {
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}

	&.rightside {
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
}

.Corner {
	background-color: transparent;

	>box {
		background-color: transparent;
		padding: 30px;
		border-radius: 100%;

		&.bottom-left {
			// margin-bottom: 650px;
			box-shadow: -25px 30px 0px 0px colors.$background;
		}
		&.bottom-right {
			box-shadow: 25px 30px 0px 0px colors.$background;
		}

		&.top-left {
      box-shadow: -29px -25px 0px 0px colors.$background;
    }
    &.top-right {
      box-shadow: 29px -25px 0px 0px colors.$background;
    }
	}
}

.Power {
	font-size: 2rem;
	font-weight: bolder;
	background-color: colors.$primary;
	color: colors.$text;
	border-radius: 2rem;
	padding: 0.3rem 0.6rem;
	margin: 0.2rem 1rem;
	transition: 0.3s;

	&:hover {
		background-color: color.mix(colors.$primary, colors.$on-surface, 70%);
	}
}

.Powermenu {

	background-color: colors.$background;
	box-shadow: 0 0 0 0px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 3rem;
	border-bottom-right-radius: 3rem;

	&.container {
		min-height: 4rem;
	}

}

.Powermenu-entry {
	margin: 0 0.5rem;

	>button {
		background-color: colors.$background;
		transition: 0.3s;
		padding: 1.2rem 1.9rem;
		color: colors.$primary;
		border-radius: 10rem;
		
		&:hover {
			background-color: colors.$primary;
			color: colors.$background;
		}

		>label {
			font-size: 5rem;
			// margin-right: 0.5rem;
		}
	}

}

.Powercorner {
	background-color: transparent;
	padding: 35px;
	border-radius: 100%;

	&.left {
		margin-right: 0;
		box-shadow: 30px -30px 0px 0px colors.$background;
		
	}
	
	&.right {
		margin-left: 0;
		box-shadow: -30px -30px 0px 0px colors.$background;
	}
}

.Notification {

  &.info {
    background-color: colors.$background;
    min-width: 500px;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 0;
    border-radius: 1rem;
  }

  &.image {
    margin-right: 1rem;
    border-radius: 1rem;
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
  }

  &.app {
    font-weight: normal;
    color: colors.$on-surface-variant
  }

  &.summary {
    font-weight: bold;
    font-size: 1.1rem;
  }

  &.body {
    color: colors.$on-surface-variant;
    font-weight: normal;
  }

  &.action {
    &:hover {
      background-color: color.mix(colors.$surface-variant, colors.$surface-variant, 70%);
    }
  }

  &.action-box {
    margin-left: 0.25rem;
    margin-bottom: 1rem;
  }

  &.close {
    background-color: colors.$background;
    color: colors.$on-surface;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 0.25rem 0.55rem;
    transition: 0.3s;

    &:hover {
      background-color: color.mix(colors.$surface-variant, colors.$on-surface-variant, 70%);
    }
  }

}

.Tray {
	
	&.box {
		background-color: colors.$background;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		padding: 0.5rem 0.5rem;
		// min-width: 6rem;
	}

	&.app {
		background-color: colors.$background;
		min-width: 2.5rem;
		min-height: 0.2rem;
		margin: 0rem 0.5rem;
		border-radius: 0.5rem;

		&:hover {
			background-color: color.mix(colors.$surface-variant, colors.$secondary, 70%);
		}

		&:active {
			background-color: color.mix(colors.$surface-variant, colors.$secondary, 60%);
		}

	}

	&.corner {
		background-color: transparent;
		padding: 25px 35px;
		border-radius: 100%;
	
		&.left {
			margin-right: 0;
			box-shadow: 25px 30px 0px 0px colors.$background;
		}
		
		&.right {
			margin-left: 0;
			box-shadow: -25px 30px 0px 0px colors.$background;
		}
	}

}

.Launcher {

	&.container {
		padding: 10rem 0px;
	}

	&.box {
		background-color: colors.$background;
		border-radius: 2rem;
		margin: 1rem;
		padding: 1rem;
		box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
	}

	&.search {
		color: colors.$on-surface;
    padding: 0.25rem;
    border-radius: 1rem;
    transition: 0.3s;
		outline: none;

		&:focus {
			box-shadow: 0 0 0 2pt colors.$secondary;
		}

		& icon {
			color: colors.$on-surface;
		}
	}

	&.items-holder {
		margin-top: 0.8rem;
	}

	&.item {
		background-color: colors.$background;
		color: color.mix(colors.$on-surface, white, 60%);
    padding: 0.25rem;
    border-radius: 1rem;
    transition: 0.3s;
		outline: none;

		&:hover {
			color: white;
			background-color: color.mix(colors.$primary, colors.$on-surface, 70%);
		}

		&:focus {
			box-shadow: 0 0 0 2pt colors.$secondary;
		}

		&-icon {
			-gtk-icon-size: 48px;
		}

		&-name {
			margin-left: 0.5rem;
			font-size: 1.1rem;
		}
	}

	&.not-found {
		padding: 1rem;

		icon {
				font-size: 6em;
				color: gtkalpha($fg-color, .7);
		}

		label {
				color: gtkalpha($fg-color, .9);
				font-size: 1.2em;
		}
	}
}

.Calendar {
	
	&.box {
		background-color: colors.$background;
		padding: 1rem;
		border-top-right-radius: 2rem;
	}

	&.clock {
		&-time {
			color: colors.$secondary;
			font-size: 45px;
			font-weight: bold;
			padding: 0px;
		}
		&-date {
			font-size: 18px;
			padding: 1rem 0px;
		}
	}
	
	&.day {
		color: colors.$secondary;
		margin: 1rem;
		min-width: 44px;

		&.active {
			color: colors.$background;
			background-color: colors.$secondary;
			border-radius: 0.7rem;
			margin: 0rem 0.5rem;
			padding: 0.5rem;
		}

		&.unactive {
			color: colors.$surface;
		}

		&-indicator {
			color: colors.$secondary;
			margin: 1rem;
			min-width: 44px;
		}
	}

	&.corner {
		background-color: transparent;
		padding: 25px 35px;
		border-radius: 100%;
		margin-left: 0;
		box-shadow: -25px 30px 0px 0px colors.$background;
	}
	
}

.Weather {
	
	&.box {
		color: colors.$text;
		background-color: colors.$background;
		border-radius: 1rem;
		padding: 0rem 0.9rem;
		margin: 0.5rem 0.25rem;
		transition: background-color 0.3s;
		font-size: 1.5rem;

		&:hover {
			background-color: color.mix(colors.$surface-variant, colors.$secondary, 70%);
		}
	}

	&.icon {
		color: colors.$secondary;
		margin-right: 0.4rem;
	}

}

.OSD {

	&.box {
		background-color: colors.$background;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		padding: 0.5rem 0.8rem;
		min-width: 20rem;
	}

	&.icon {
		color: color.mix(colors.$primary, colors.$text, 40%);
		margin: 0rem 0.5rem;
		font-size: 1.2rem;
	}

	&.holder {
		margin: 0.5rem;
		padding: 0;
		border-radius: 0.7rem;
		background-color: color.mix(colors.$secondary, colors.$background, 20%);
	}

	&.progress {
		background-color: color.mix(colors.$secondary, colors.$background, 60%);
		border-radius: 0.7rem;
		padding: 0.5rem 0rem;
		// padding-right: 14rem;
		transition: padding-right 0.5s;
	}

	&.corner {
		background-color: transparent;
		padding: 25px 35px;
		border-radius: 100%;
			
		&.left {
			box-shadow: 25px 30px 0px 0px colors.$background;
		}
		&.right {
			box-shadow: -25px 30px 0px 0px colors.$background;
		}
	}
}

.Recorder {
	padding: 10px;

	>button {
		font-size: 2rem;
		font-weight: bolder;
		background-color: transparent;
		color: colors.$text;
		border-radius: 2rem;
		padding: 0 0.3rem;
		// margin-top: 0.7rem;
		// margin-right: 1.2rem;
		transition: 0.3s;
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
		animation: pulse 1.5s infinite;
		transition: background-color 0.3s;


		&:hover {
			background-color: color.mix(colors.$background, colors.$error, 70%);
		}

		>label {
			color: red;
		}
	}
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}